{% extends "MySiteApp/base.html" %}

{% block content %}
    <header id="header1">
    <p><b>Наши контакты: </b> 89871073306 <button class="tel" type="button" name="button"><img width="16" height="18" src="https://img.icons8.com/ios/50/phone--v1.png" alt="phone--v1"/></button> <p>
    </header>


    <div class="mess">
      <img  width="24" height="24" src="https://img.icons8.com/fluency-systems-regular/48/speech-bubble-with-dots--v1.png" alt="speech-bubble-with-dots--v1"/>
    </div>



    <footer  id = "foot1">
    </footer>

    <menu>

    </menu>


{% endblock %}

{% block title %}
 <title>Title</title>
{% endblock %}