{% extends "MySiteApp/base.html" %}


{% block title %}
 <title>News</title>
{% endblock %}

{% block content %}
<main>
<div class="features">
        <h1>Форма добавления</h1>
     <h3 class="font-weight-bold">Новости</h3>
    {% if news %}
        {% for el in news %}
             <div class="alert alert-warning">
             <h3>{{ el.title}}</h3>
             <p>{{ el.anons }}</p>
             </div>
        {% endfor %}
    {% else %}
        <p>Нет записей</p>
    {% endif %}

</main>
{% endblock %}
